.fix-bug-of-list-contact {
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 767px) and (orientation: landscape){
  .fix-bug-of-list-contact {
      height: 145px!important;

  }
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
